:root {
    --blue: #21243d;
    --black: #333333 ;
    --white: #ffffff ;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

    .container {
        margin: 0 auto;
    }

.bg {
    height: 800px;
    background: url("../img/bg-page1.png");
    background-repeat: no-repeat;
    background-size: cover; 
}

.top-bar {
    height: 85px;
    background: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.menu {
    display: flex;
    list-style: none;
    

    li {
        margin-left: 50px;
    }

    a {
        color: var(--white);
        text-decoration: none;
        
    }
}

.menu-search {
     list-style: none;

    li {
        margin-left: 50px;
    }

    a {
        color: var(--white);
        text-decoration: none;
    }

}

.title-here {
    display: flex;
    align-items: center;
    height: 650px;
    color: var(--white);
    

    .title-here-wrapper {    
        text-align: left;   
        width: 640px;
        padding: 40px;    

        h1 {
            font-size: 100px;
            padding: 0px 10px;
            
        }

        p {
           font-size: 25px;
            padding: 30px 0px; 
            opacity: 60%;

        }

        a {
            font-size: 20px;
            padding: 0px 50px;
            color: var(--white);
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;

        }
        .title-btn {
            background-color: var(--blue);
            max-width: 300px;
            width: 100%;
            height: 50px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;

        }
    }
}

/* Popular Menu */

.popular-menu {
    background: url("../img/bg-page2.png");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    overflow: hidden;

    .container {
        width: 1320px;
        margin: 0 auto;

        .popular-menu-title {
            text-align: center;
            margin: 50px 0;

            h2 {
                font-size: 100px;
                margin: 50px;
            }

            p {
                font-size: 25px;
                opacity: 30%;
            }
        }

        .popular-menu-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
            gap: 50px ;
            text-align: center;

            .popular-menu-item {
                img {
                    width: 60%;
                    border-radius: 50%;
                }

                h3 {
                    font-size: 30px;
                    padding: 20px;
                }

                p {
                    font-size: 15px;
                    opacity: 50%;
                }
            }
        }
    }

}

/* Section Shushi */

.title-shushi {
    height: 800px;
    background: url("../img/bg-page3.png");
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        max-width: 1320px;
    }

    .title-shushi-wrapper {
        display: flex;
        align-items: center;
        height: 800px;

        .title-shushi-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .shushi-img {
                img { 
                    width: 110%;
                    border-radius: 50%;
                }
            }

            .shushi-info {
                max-width: 580px;
                width: 100%;
                


                h2 {
                    font-size: 80px;
                }

                p {
                    font-size: 30px;
                }

                .shushi-btn {
                    background-color: var(--blue);
                    color: var(--white);
                    max-width: 320px;
                    width: 100%;
                    height: 64px;
                    display: inline-flex; 
                    justify-content: center; 
                    align-items: center; 
                    text-transform: uppercase; 
                    font-weight: bold; 
                    text-decoration: none; 
                    border-radius: 30px; 
                    margin-top: 56px; 

                }

            }
        }
    }
}

/* Section Statistics */
.statistics {
    height: 800px;
    background: url("../img/bg-page4.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    overflow: hidden;

    .container {
        
    }

    .statastics-title {
        text-align: center;
        margin-top: 65px;

        h2 {
            font-size: 50px;
        }

        p {
            font-size: 20px;
            opacity: 50%;
            padding: 30px;
        }
    }

    .statistics-grid {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
         gap: 120px; 
         text-align: center;
         margin-top: 50px;  
         display: flex;
         justify-content: center;

         .statistics-grid-item {
            border: 6px solid var(--white);
            padding: 120px 0;
            margin-top: 30px;
            border-radius: 50%;

            width: 300px;
            height: 300px;

            display: flex;
            flex-direction: column;
            justify-content: center;
           

            h3 {
                font-size: 100px;
                font-weight: bold;
            }
            p {
                font-size: 50px;
                text-transform: uppercase;
                font-weight: bold;
            }
         }
        }
}

/* section shushi menu2 */

.title-shushi-menu2 {
    height: 800px;
    background: url("../img/bg-page5.png");
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        max-width: 1320px;
    }

    .title-shushi-wrapper-menu2 {
        display: flex;
        align-items: center;
        height: 800px;

        .title-shushi-box-menu2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .shushi-info-menu2 {
                max-width: 580px;
                width: 100%;
                


                h2 {
                    font-size: 80px;
                }

                p {
                    font-size: 30px;
                }

                .shushi-btn-menu2 {
                    background-color: var(--blue);
                    color: var(--white);
                    max-width: 320px;
                    width: 100%;
                    height: 64px;
                    display: inline-flex; 
                    justify-content: center; 
                    align-items: center; 
                    text-transform: uppercase; 
                    font-weight: bold; 
                    text-decoration: none; 
                    border-radius: 30px; 
                    margin-top: 56px; 

                }

            }
            
            }

            .shushi-img-menu2 {
                img { 
                    width: 110%;
                    border-radius: 50%;
                }
        }
    }
}

/* Person section */

.person {
    height: 800px;
    background: url("/asset/img/bg-page6.png");
    background-repeat: no-repeat;
    background-size: cover;

    .person-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 800px;
        color: var(--white);

        .person-info {  

            img {
                border-radius: 50%;
                max-width: 250px;
                width: 100%;
            }

            p  {
                font-size: 25px;
                padding: 20px;
            }

            h2 {
                font-size: 50px;
            }
        }

    }
}

/* Section subscribe */

.sub {
    height: 800px;
    background: url("/asset/img/bg-page7.png");
    background-repeat: no-repeat;
    background-size: cover;

    .sub-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 800px;
        color: var(--blue);

        .sub-info {
            text-align: center;

            h2 {
                font-size: 80px;
            }

            p {
                font-size: 25px;
                padding: 25px;
            }

            form {
                display: flex;
                justify-content: center;
                margin: 20px;
               
                input {
                    
                    max-width: 550px;
                    width: 100%;
                    padding: 20px;
                    border: none;
                    outline: none;
                    /* border-radius:  top-left   top-right   bottom-right   bottom-left;*/
                    border-radius: 50px 0 0 50px;
                    

                }

                button {
                    max-width: 220px;
                    width: 100%;
                    padding: 20px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: var(--blue);
                    color: var(--white);
                    text-transform: uppercase;
                    font-weight: bold; 
                    border-radius: 50px; 
                    margin-left: -20px;
                }

            }
        }
    }
}